<html>
  <body>
    <section id="intro" style="background-image: url('../assets/img/ein-steig.jpg');" class="intro section-padding">
      <div class="overlay"></div>
      <div class="content">
        <div class="container clearfix">
          <div class="row">
            <div class="col-lg-8 col-md-12 mx-auto">
              <div class="d-flex flex-row">
                <p class="italic p-2">Oh, hello, I'm</p>
                <p class="italic p-2" style="color:#f442ad">Lang Wu,</p>
                <p class="italic p-2">nice to meet you.</p>
              </div>
              <h1>I'm a Mobile/Web Developer.</h1>
                <button type="button" class="navbar-nav btn btn-danger " style="margin-top:100px">
                  <a href="#portfolio" class="nav-link" style="width:100px">Report Scam</a>
                </button>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- intro end-->
    <!-- navbar-->
    <!-- <header class="header">
      <nav class="navbar navbar-expand-lg">
        <div class="container"><a href="#intro" class="navbar-brand link-scroll"></a>
          <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler navbar-toggler-right"><i class="fa fa-bars"></i></button>
          <div id="navbarSupportedContent" class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item"><a href="#intro" class="nav-link link-scroll">Home</a></li>
              <li class="nav-item"><a href="#portfolio" class="nav-link link-scroll">Portfolio</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </header> -->
    <!-- about-->
    <!-- <section id="about" class="text">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <h2 class="heading">About me</h2>
            <p class="lead">This can be an about section.</p>
            <p>Impossible considered invitation him men instrument saw celebrated unpleasant. Put rest and must set kind next many near nay. He exquisite continued explained middleton am. Voice hours young woody has she think equal. Estate moment he at on wonder at season little. Six garden result summer set family esteem nay estate. End admiration mrs unreserved discovered comparison especially invitation. </p>
            <p>Delightful unreserved impossible few estimating men favourable see entreaties. She propriety immediate was improving. He or entrance humoured likewise moderate. Much nor game son say feel. Fat make met can must form into gate. Me we offending prevailed discovery. </p>
          </div>
          <div class="col-lg-5 mx-auto">
            <p><img src="../assets/img/japan-mountains.jpg" alt="" class="img-fluid rounded-circle"></p>
          </div>
        </div>
      </div>
    </section> -->
    <!-- about end-->
    <!-- Services-->
    <!-- <section id="services" style="background-color: #eee">
      <div class="container">
        <div class="row services">
          <div class="col-lg-12">
            <h2 class="heading">Services</h2>
            <div class="row">
              <div class="col-md-4">
                <div class="box">
                  <div class="icon"><i class="fa fa-desktop"></i></div>
                  <h5>Webdesign</h5>
                  <p>Fifth abundantly made Give sixth hath. Cattle creature i be don't them.</p>
                </div>
              </div>
              <div class="col-md-4">
                <div class="box">
                  <div class="icon"><i class="fa fa-print"></i></div>
                  <h5>Print</h5>
                  <p>Advantage old had otherwise sincerity dependent additions. It in adapted natural.</p>
                </div>
              </div>
              <div class="col-md-4">
                <div class="box">
                  <div class="icon"><i class="fa fa-globe"></i></div>
                  <h5>SEO and SEM</h5>
                  <p>Am terminated it excellence invitation projection as. She graceful shy. </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section> -->
    <!-- Services end-->

    <!-- Portfolio / gallery-->
    <section id="portfolio" class="gallery section-padding" style="background-color: white">
      <div class="container clearfix">
        <div class="row">
          <div class="col-lg-12">
            <div class="row">
              <div class="row row-grey">
			    <div class="col-sm-12 col-sm-offset-2">

			    	<div class="row work-item-row ">
			    		<div class="col-lg-8">
			    			<img src="../assets/img/sesame.jpg" class="img-responsive">
			    		</div>
			    		<div class="col-lg-4">
			    			<h2>Sesame Home</h2>
			    			<p>A mobile application built to connect clients and local business, providing the most efficient online solution for the business across GTA area. Whether you’re looking for a place to live or services nearby.</p>
			    			<h4>Technology</h4>
			    			<p>Sesame Home is built with React Native. Integrating with the Google Maps API for business and service lookup. A PHP server host on AWS acts as a middle-man, handling backend logic and database updates. Sentry is for product error tracking.</p>
			    		</div>
		    		</div>
		    		<div class="d-flex justify-content-center">
		    			<div class="col-xs-12">
		    				<img src="../assets/img/react-native.png" class="techlogo" width="100" height="35">
		    				<img src="../assets/img/php.png" class="techlogo" width="100" height="35">
		    				<img src="../assets/img/sentry.png" class="techlogo" width="100" height="35">
		    				<img src="../assets/img/firebase.png" class="techlogo" width="100">

		    			</div>
		    		</div>
		    		<div class="row text-center d-flex justify-content-center" style="margin:20px;" >
              <button type="button" onclick="window.location.href = 'https://itunes.apple.com/ca/app/sesame-home/id1374036971?mt=8';" class="btn btn-success" style="width:120px">Go to app</button>
	    			</div>
					     </div>
			       </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="portfolio" class="gallery section-padding" style="background-color:#eee">
      <div class="container clearfix">
        <div class="row">
          <div class="col-lg-12">
            <div class="row">
              <div class="row row-grey">
			    <div class="col-sm-12 col-sm-offset-2">

			    	<div class="row work-item-row ">
			    		<div class="col-lg-8">
			    			<img src="../assets/img/gamie.png" class="img-responsive">
			    		</div>
			    		<div class="col-lg-4">
			    			<h2>Gamie.io</h2>
			    			<p>A Nintendo-like multi-player gaming web application.</p>
			    			<h4>Technology</h4>
			    			<p>Gamie.io is built with Angular2+, and uses Bootstrap for a mobile-first layout. It uses an Express/Node.js app on Heroku to handle user accounts and authentication and stores data at MongoDB.</p>
			    		</div>
		    		</div>
		    		<div class="d-flex justify-content-center">
		    			<div class="col-xs-12">
		    				<img src="../assets/img/angular.png" class="techlogo" width="100" height="35">
		    				<img src="../assets/img/node.png" class="techlogo" width="100" height="35">
		    				<img src="../assets/img/mongodb.png" class="techlogo" width="100" height="35">
		    				<img src="../assets/img/socketio.png" class="techlogo" width="100" height="35">
                <img src="../assets/img/bootstrap.png" class="techlogo" width="100" height="35">
                <img src="../assets/img/heroku.png" class="techlogo" width="100" height="35">
		    			</div>
		    		</div>
		    		<div class="row text-center d-flex justify-content-center" style="margin:20px;" >
              <button type="button" onclick="window.location.href = 'https://gamie-io.herokuapp.com';" class="btn btn-success" style="width:120px">Play now</button>

	    			</div>
					     </div>
			       </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="portfolio" class="gallery" style="background-color: white">
      <div class="container clearfix">
        <div class="row">
          <div class="col-lg-12">
            <div class="row">
              <div class="row row-grey">
			    <div class="col-sm-12 col-sm-offset-2">
			    	<div class="row work-item-row ">
			    		<div class="col-lg-8">
			    			<img src="../assets/img/gamie.png" class="img-responsive">
			    		</div>
			    		<div class="col-lg-4">
			    			<h2>Ableoo</h2>
			    			<p>A web application provides online booking for on-site phone repair service.</p>
			    			<h4>Technology</h4>
			    			<p>Ableoo is built with Java SpringMVC and using MySQL as database connected by JDBC. The application is implemented by Apache Tomcat and host on Amazon Web Server.</p>
			    		</div>
		    		</div>
		    		<div class="d-flex justify-content-center">
		    			<div class="col-xs-12">
		    				<img src="../assets/img/java.png" class="techlogo" width="100" height="60">
		    				<img src="../assets/img/springmvc.png" class="techlogo" width="100" height="50">
		    				<img src="../assets/img/aws.png" class="techlogo" width="100" height="30">
		    			</div>
		    		</div>
		    		<div class="row text-center d-flex justify-content-center" style="margin:20px;" >
              <button type="button" onclick="window.location.href = 'https://www.ableoo.com';" class="btn btn-success" style="width:120px">Book it</button>
	    			</div>
					     </div>
			       </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
