// btn
//   display: inline-block
//   padding: 6px 12px
//   margin-bottom: 0
//   font-size: 14px
//   font-weight: 400
//   line-height: 1.42857143
//   text-align: center
//   white-space: nowrap
//   vertical-align: middle
//   -ms-touch-action: manipulation
//   touch-action: manipulation
//   cursor: pointer
//   -webkit-user-select: none
//   -moz-user-select: none
//   -ms-user-select: none
//   user-select: none
//   background-image: none
//   border: 1px solid transparent
//   border-radius: 4px
//
// launch
//   width: 100%
//   max-width: 200px
//   background-color: #549657
//   color: white
//   box-shadow: 0px 2px 5px 1px darkgrey

.img-responsive {
  display: block;
  margin-right: auto;
  margin-left: auto;
  max-width: 100%;
  height: auto;
}

.section-padding {
  padding: 50px 0;
}
